<div class="w-dscreen bg-indigo-500 p-3 text-center text-white relative">
    <img src="<%= asset_path('Mask Group 4.png') %>" alt="Banner Image" class="absolute inset-0 w-full h-full object-cover" />
    <div class="relative z-10 flex justify-center">
        <img src="<%= asset_path('svgs/26.svg') %>" class="transform scale-x-[-1] hidden lg:block md:block" />
        <span class="mx-2">Save up to $500 per year on millions of book titles!</span>
        <img src="<%= asset_path('svgs/26.svg') %>" class="hidden lg:block md:block" />
    </div>
</div>