<div class="w-dscreen hidden lg:flex p-3 pr-14 justify-end mt-4 mx-auto container">
    <div class="flex -rotate-6">
        <span class="font-tertiary text-cyan-400 text-right font-[600] text-2xl leading-none">
            Inquire us now to<br>
            avail discounts
        </span>
        <div class="relative">
            <img src="<%= asset_path('svgs/XMLID_2331_.svg') %>" class="h-12 rotate-12 mt-[-20%] ml-4">
        </div>
    </div>
</div>