<div class="mx-auto sm:mx-12 md:mx-12 rg:mx-6 lg:mx-auto lg:container p-4 flex flex-col rg:flex-row lg:flex-row mt-12 items-center" id="commitment">
    <div class="flex-1">
        <img src="<%= asset_path('Group 13597.png') %>" class="w-full mx-auto m-auto lg:p-20">
    </div>
    <div class="text-center rg:text-left rg:w-2/5 my-6 space-y-10 lg:pr-20">
        <h1 class="font-bold text-slate-100 text-5xl tracking-tight">
            Our Commitment
        </h1>
        <p class="font-[500] text-slate-100 text-lg rg:text-xl lg:text-xl tracking-tight">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
        </p>
        <button class="bg-indigo-950 hover:bg-indigo-800 text-cyan-500 px-8 py-4 rounded-xl font-[400] text-xl shadow-lg shadow-indigo-700">
            Learn more
            <img src="<%= asset_path('svgs/Path 329.svg') %>" class="-mt-1 -rotate-90 inline">
        </button>
    </div>
</div>
