<details class="overflow-hidden">
    <summary class="cursor-pointer flex justify-between items-center">
        <span class="font-semibold text-indigo-500 text-2xl">
            <%= question %>
        </span>
        <img src="<%= asset_path('svgs/Path 9712.svg') %>" class="w-4 h-4 text-indigo-950 transform transition-transform duration-200" />
    </summary>
    <div class="py-6">
        <p class="text-xl font-[500]">
            <%= answer %>
        </p>
    </div>
</details>