<div class="mx-auto sm:mx-12 md:mx-12 rg:mx-6 lg:mx-auto lg:container p-4 flex flex-col-reverse rg:flex-row lg:flex-row mt-12" id="home">
  <div class="text-center rg:text-left rg:w-2/5 my-6 space-y-8 lg:pr-20">
    <h1 class="font-bold text-6xl lg:text-7xl tracking-tight">
      The Cheapest <span class="inline lg:block">Textbooks</span>
    </h1>
    <h2 class="font-bold text-2xl lg:text-3xl text-indigo-500 pt-4">
      Save Up To 90% On Millions <span class="inline lg:block">Of Titles</span>
    </h2>
    <p class="font-[500] text-lg rg:text-xl lg:text-xl tracking-tight">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
    </p>
    <button class="bg-indigo-500 hover:bg-indigo-600 text-white px-12 py-4 rounded-xl font-[300] text-2xl shadow-lg shadow-indigo-400">
      Get Started
      <img src="<%= asset_path('svgs/Path 329.svg') %>" class="-mt-1 -rotate-90 inline">
    </button>
  </div>
  <div class="flex-1 lg:pl-16">
    <img src="<%= asset_path('svgs/hero illustration.svg') %>" class="w-full mx-auto">
  </div>
</div>
