<div class="space-y-6 text-slate-100 <%= wrapper rescue nil %>">
    <img src="<%= asset_path %>" class="w-18">
    <h1 class="font-[500] text-2xl pr-24"><%= header %></h1>
    <p class="font-[300] text-lg pr-14"><%= details %></p>
</div>